.firefighter-hub {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 24px;
  overflow: hidden;
}

.firefighter-dot{
  width: 40px;          
  height: 40px;         
  border-radius: 50%;   
  flex-shrink: 0;
  margin-right: 10px;
}

.firefighter-item {
  display: flex;        
  align-items: center;   
  gap: 12px;             
  margin-bottom: 8px;   
  padding-right: 10px;
  padding-left: 10px;
}

.firefighter-label {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #B82424;
}
