.firefighter-hub-scene {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firefighter-hub {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 18px;
  column-gap: 48px;
  border-radius: 24px;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  border: 5px solid #8B1A1A;
  border-radius: 20px;
  padding: 8px 325px;
}

.firefighter-dot{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}

.firefighter-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
}

.firefighter-label {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  color: #B82424;
}
